html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}
@font-face {
    font-family: 'South Park Ext';
    src: url('./fonts/south park.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}